

.signin-container { 
  padding: 35px;
}

.signin {
  font-size: 30px;
  color: white;
  line-height: 110%;
  text-align: center;
  margin: 0;
}

form { 
  background-color: white;
  padding: 30px;
}

.brand-logo {
  font-family: 'Lobster';
  color: #fff;
  font-size: 3.1rem;
  text-shadow: 1px 1px rgb(138, 138, 138), 2px 2px rgb(138, 138, 138), 3px 3px rgb(138, 138, 138);
}


label {
  /* color: whitesmoke;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 19px; */
  font-size: 1.5rem;
  color: black;
}

.card-panel { 
  margin: 0;
}


.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: .25rem .5rem;
  border-radius: .2rem;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
    padding: .25rem .5rem;
    border-radius: .2rem;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}