#appName{
  font-family: 'Lobster', cursive;
  font-size: 3.5rem;
  line-height: 37%;
  margin: 0.8rem 0 0.8rem 0;
}

#top{
height: 10%;
}

h1 {
  font-size: 4.2rem;
  color: white;
  line-height: 110%;
  text-align: center;
  margin: 2.8rem 0 1.68rem 0;
}

.create-account {
  text-align: center;
}

.container {
  margin: 0 auto;
  text-align: center;
  max-width: 1280px;
  background: white;
  opacity: .9;
  width: 90%;
}

input[type="submit"] {
  border: 0;
  color: white;
  font-style: normal;
  font-size: inherit;
  text-transform: inherit;
  background: none;
}

/* label color */
.input-field label {
color: red;
}
/* label focus color */
.input-field input[type=text]:focus + label {
color: blue;
}
/* label underline focus color */
.input-field input[type=text]:focus {
border-bottom: 1px solid blue;
box-shadow: 0 1px 0 0 blue;
}
/* valid color */
.input-field input[type=text].valid {
border-bottom: 1px solid blue;
box-shadow: 0 1px 0 0 blue;
}
/* invalid color */
.input-field input[type=text].invalid {
border-bottom: 1px solid blue;
box-shadow: 0 1px 0 0 blue;
}
/* icon prefix focus color */
.input-field .prefix.active {
color: blue;
}
.card-panel{
margin-top: 1%;
}
   
