/* 
.carousel {
    position: relative;
    width: 100%;
}
	/* // only applying box sizing inside the plugin so it won't break any style */

/* img {
		width: 100%;
		display: inline-block;
        pointer-events: none;
	} */ 
