/* OLD BELOW */
/* .navbar-brand {
  width: 33%;
  display: inline-block;
  text-align: center;
  padding: 26px 0;
  font-family: 'Lobster', cursive;
  font-size: 2em;
} */
/* END OLD */

.nav-wrapper{
  background-color:#0D47A1;
  border: thin;
  border-color: rgb(241, 18, 2);
  }
  .icon-block {
    padding: 0 15px;
  }
  
  .icon-block .material-icons {
    font-size: inherit;
    color: #0D47A1 !important;
  }
  
  nav .brand-logo {
    position: absolute;
    font-family: 'Lobster';
    color: #fff;
    display: inline-block;
    font-size: 2.1rem;
    padding: 2px;
    text-shadow: 1px 1px rgb(138, 138, 138), 2px 2px rgb(138, 138, 138), 3px 3px rgb(138, 138, 138);
  }

.secondarytxt1{
  font-family: 'Lobster';
  color: rgb(73, 219, 73);
  display: inline-block;
  font-size: 2.1rem;
 
  margin-right: 1%;
  width: 120px;
}

  .secondarytxt2{
    font-family: 'Lobster';
    color:red;
    display: inline-block;
    font-size: 2.6rem;
   
   
    width: 120px;
  }
  

 .nav ul li {
  transition: background-color .3s;
  float: left;
  padding: 2px;
}

.nav ul li {
  transition: background-color .3s;
  float: left;
  padding: 2px;
}
.tokenbank{
  padding-bottom: 1%;
}

.ul.left.hide-on-medium-and-down{
width:100px;

}
